*.o
*.log
*.err
*.std
*.pyc
*.cxx
*.so
*.swp

project_acpc_server/all_in_expectation
project_acpc_server/bm_run_matches
project_acpc_server/dealer
evolution/dealer
project_acpc_server/example_player
hand_eval/hands_swig.py
pokerlib/poker_swig.py
pokerlib/poker_wrap.c
pokerlib/hands_swig.py
